@import "bootstrap/bootstrap";

.bg-main{
    background-image: url(../images/mainbg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    height: 480px;
}
.navbar-brand{
    margin: 0 auto;
}