@import "bootstrap/bootstrap";
@import "fonts";
@import "swiper/swiper";
@import "scrollbar";

.bg-background{
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.bg-main{
  height: 480px;
  background-image: url(../images/mainbg.jpg);
}
.bg-bottom{
  height: 400px;
  background-image: url(../images/bottom1.jpg);
}
.navbar-brand{
    margin: 0 auto;
}

.modal.right .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    transform: translate3d(0%, 0, 0);
  }
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  .modal {
    &-content {
      border-radius: 0;
      border: none;
    }
    &-header {
      border-bottom: none;
    }
    &-body{
      .card{
        max-width: 540px;
      }
    }
    &-footer {
      border-top: none;
    }
  }

  /*scroll nav bar*/
  
.nav-scroller {
    height: 2.75rem; /* 隱藏下方捲軸 */
    overflow-y: hidden; 
    border-bottom: 1px solid #707070;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem; /* 隱藏下方捲軸 */
    overflow-x:auto;
    white-space: nowrap;
    justify-content: center;
}
.card-size{
    &-large{
      height: 30.125rem;
    }
    &-medium{
      height: 16rem;
    }
    &-small{
      height: 7.5rem;
      @include media-breakpoint-down(md){
        height: 10.75rem;
      }
    }
}
@include media-breakpoint-down(md){
    .btn-lg{
        padding: .625rem 3.125rem;
    }
    .align-items-center{
        align-items: flex-end;
    }
    .card-size{
      min-height: 30.125rem;
    }
}
.img{
    object-fit: cover;
    height: 100%;
}
.fab-x15{
  font-size: 24px;
  line-height: 1.5;
  vertical-align: text-top;
}
